In [1]:
# Casting
# The conversion of one data type into the other data type is knows as a type casting or type conversion in pyhon
# Python support a wide variety of functions or method like: int(), float(), str(, ord(), hex(), oct(), tuple(), 
#set() , dict(), list(), etc.... for the type casting in python.

# There are two type of casting.
# Explicit type conversion
# Implicit type conversion


# Explicit type conversion:- The convertion of one data to another data type, done via developer or programmer's or
#manually as per the requirement is knows as Explicit type conversion.
# It can be achieved with help  of python's built-in type conc=version function such as a int(), float(), str() , etc....


# Implicit type conversion:- Data types in Python do not have the same level ie. ordering of data types is not the same in
#Python. Some of the data types have higher-order, and some have lower order. While performing any operations on variables
#with different data types in Python, one of the variable's data types will be changed to the higher data type. According
# #to the level, one data type is converted into other by the Python interpreter itself (automatically). This is called,
#mplicit typecasting in python.
# Python converts a smaller data type to a higher data type to prevent data loss

In [21]:
# int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a 
#string literal (providing the string represents a whole number)

q = 10
print(q)
print(type(q))

# int() to float
w = float(q)
print(float(w))
print(type(w))

print(float(10))

10
<class 'int'>
10.0
<class 'float'>
10.0

In [32]:
# float() to int()

e = 2.8
print(e,type(e))

print(int(e))

e1  = int(e)
print(e1,type(e1))

print(int(2.8))

2.8 <class 'float'>
2
2 <class 'int'>
2

In [30]:
# string() to int()

r =  "16"
print(r,type(r))

r1 = int(r)
print(r1,type(r1))


print((int("16")))

16 <class 'str'>
16 <class 'int'>
16

In [5]:
# float to string 

t =  16.01
print(t,type(t))

t1 = str(t)
print(t1,type(t1))


print((str("16.01")))

16.01 <class 'float'>
16.01 <class 'str'>
16.01

In [6]:
# string to float 


y =  "16.01"
print(y,type(y))

y1 = float(y)
print(y1,type(y1))


print((float("16.01")))

16.01 <class 'str'>
16.01 <class 'float'>
16.01

In [16]:
# Advance data type casting :-
u = [1,2,3,4,5]
print(u,type(u))


u1=tuple(u)                                              # list[] change in tuple()
print(u1,type(u1))



u2 = set(u)                                              # list[] change in set()
print(u2,type(u2))



u3 = frozenset(u)                                       # list[] change in frozenset() 
print(u3,type(u3))

[1, 2, 3, 4, 5] <class 'list'>
(1, 2, 3, 4, 5) <class 'tuple'>
{1, 2, 3, 4, 5} <class 'set'>
frozenset({1, 2, 3, 4, 5}) <class 'frozenset'>

In [1]:
# string()---->float()----->int()


i = "10.90"
print(i,type(i))

# print(int(i))                  #  "i" value is not change directly in int(), firstly you change in float() finction , then you change in int().
i1 = float(i)                    
i2 = int(i1)
print(i2,type(i2))

10.90 <class 'str'>
10 <class 'int'>

In [3]:
# Tuple to Dictionaries:-

my_tuples = (('Tiger', 4), ('Cat', 6), ('Dog', 8), ('Elephant', 10))
my_dict = dict(my_tuples)
print(my_dict,type(my_dict))

{'Tiger': 4, 'Cat': 6, 'Dog': 8, 'Elephant': 10} <class 'dict'>

In [1]:
# Implicit Type Conversion

# program to demonstrate implicit type conversion  

#initializing the value of a  
a = 10  
print(a)  
print("The type of a is ", type(a))  
#initializing the value of b  
b = 4.5  
print(b)  
print("The type of b is ", type(b))  
#initializing the value of c  
c = 4.0  
print(c)  
print("The type of c is ", type(c))  
#initializing the value of d  
d = 5.0  
print(d)  
print("The type of d is ", type(d))  

#performing arithmetic operations  

res = a * b  
print("The product of a and b is ", res)  
add = c + d  
print("The addition of c and d is ", add)

10
The type of a is  <class 'int'>
4.5
The type of b is  <class 'float'>
4.0
The type of c is  <class 'float'>
5.0
The type of d is  <class 'float'>
The product of a and b is  45.0
The addition of c and d is  9.0