In [3]:
print("hello world")

hello world

In [4]:
print("this is mansi ")

this is mansi

In [5]:
print("hello world")
print('hello world')
print("""when we use triple double quotes for print their is no error """)  # use print("""""")
print('''when we use triple single quotes for print their is no error''')   # use print('''''')

hello world
hello world
when we use triple double quotes for print their is no error
when we use triple single quotes for print their is no error

In [6]:
print("""         This is Mansi Pachauri 
         I had done MCA from AKTU
         I have 1 year exprience as a 'assocoate project manager'
         """)                                                           
print('''         Currently i am working  as a  DATA ANALYST 
         My skill are PYTHON , SQL , MS EXCEL , ML , AI , ect...
         And i know Basic Power BI  ''')

         This is Mansi Pachauri
         I had done MCA from AKTU
         I have 1 year exprience as a 'assocoate project manager'

         Currently i am working  as a  DATA ANALYST
         My skill are PYTHON , SQL , MS EXCEL , ML , AI , ect...
         And i know Basic Power BI

In [18]:
input("kindly enter your 4 digit no. pin ")
input("valid 4 digit no. ")

'6789'

In [8]:
print("apple , mango , papaya")
print("apple" , "mango" , "banana")
print("apple" , "mango" , "banana", sep=" ")      #separator operater 
print("apple" , "mango" , "banana", sep="INDIA")  #separator operater sep="INDIA"

apple , mango , papaya
apple mango banana
apple mango banana
appleINDIAmangoINDIAbanana

In [19]:
input("valid 4 digit no. ")

'6789'

In [10]:
print("apple" , "mango" , "banana " ,end="###")                  # end operater (end operater is equal to /n )
print("mango" , "apple" , "pineapple" , sep="india")              # end operater end="$$$"

apple mango banana ###mangoindiaappleindiapineapple

In [11]:
print ("This is Ma\nsi")                            # \n is use to  break the line 
print("This is \\n Mansi")                          # one \ is hide to other \n = \\n

This is Ma
si
This is \n Mansi

In [12]:
# apple
# india banana
# india pineapple india 
print("apple","banana","pineapple",sep=" \nindia ", end=" india" )

apple
india banana
india pineapple india

In [13]:
print(" this is mansi ")
#print(" this is "mansi" ") #cases
print(' this is "mansi" ')

 this is mansi
 this is "mansi"

In [14]:
#print(' this is mansi's laptop ')          #cases
print(" this is mansi's laptop ")
print(' this is mansi\'s laptop ')          # when we use '\' they hide next other special character

 this is mansi's laptop
 this is mansi's laptop

In [15]:
print("This is \taboo")                          # when we use '\t' they give uncoutable space
print ("This is use for \tab")

This is 	aboo
This is use for 	ab

In [16]:
print("This is water \bottle ")         #  '\b'represents the backspace character
print("This is best m\bbaloon")

This is waterottle
This is best baloon

In [1]:
print("https:mail.google.com/mail/u/0/#inbox/FMfcgzGsmWwnPQxhSphCBLxrRzJjBflZ")         # 'r' when we want same line to use 'r' is a raw data 
print(r" C:\Program\Files\Google")
print(r" this is \n ma\nsi")

https://mail.google.com/mail/u/0/#inbox/FMfcgzGsmWwnPQxhSphCBLxrRzJjBflZ
 C:\Program\Files\Google
 this is \n ma\nsi